/.docker/devenvs-docker-compose.yaml
/bin/
/dist/
/TEST/
.DS_Store
config.yml
server.log
/.vscode/*
!/.vscode/launch.json
*.code-workspace
/vendor/
/assets/css/bulma.min.css
/assets/js/laydate/
/assets/js/axios.min.js
/assets/js/axios.min.map
/assets/js/fontawesome.min.js
/assets/js/md5.min.js
/assets/js/vue.min.js
/assets/js/markdown.min.js