html{
    overflow-y: auto;
}

#footer{
    margin-top: 20px;
}
#nav{
    margin-bottom: 20px;
}
#timeRange,#makeDay{
    text-align: center;
    text-indent: -10%;
}
.fa-caret-down,.fa-caret-up{
    cursor: pointer;
}

.userList{
    border:0px solid red;
    height:26em;
    overflow-y: auto;
}

.orgList,.roomList{
    border:0px solid red;
    height:13em;
    overflow-y: auto;
}

/*
// special theme
.icon{
    background: url('/img/theme_icon.png') no-repeat;
    background-size: 90%;
    background-position: center;
}
.icon svg{
    display: none;
}
html{
    background: url('/img/theme_bg.jpg') repeat-y;
    background-size: cover;
    background-position: center;
}
*/