<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GoMetting</title>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <script src="/js/check.js"></script>
        <script src="/js/vue.min.js"></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/md5.min.js"></script>
        <script src="/js/laydate/laydate.js"></script>
        <script src="/js/fontawesome.min.js"></script>
        <script src="/js/markdown.min.js"></script>
    </head>
    <body>
        <section id="nav">
            <my-nav :is-admin="isAdmin"></my-nav>
        </section>
        <section>
            <div class="container" id="app">
                <div class="columns is-mobile is-centered">
                    <div class="column is-10">
                        <div v-show="notification" class="notification">
                            <button v-show="profile.id == 0"
                                v-on:click="delNotification" class="delete"></button>
                            <div class="content" v-html="parseNotification"></div>
                        </div>
                        <div v-show="!notification && profile.id == 0"
                            class="field">
                            <textarea id="notificationInput" class="textarea"
                                @keydown="notificationRowAdjust"
                                placeholder="notification here"
                                rows="1"
                                v-model="notificationInput"></textarea>
                            <div class="buttons is-centered">
                                <button v-show="canAddNotification"
                                    @click="addNotification" class="button
                                    is-primary">Notify</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile is-centered">
                    <div class="column is-3">
                        <div class="control has-icons-left">
                            <input type="text" class="input is-info is-medium"
                                id="makeDay" readonly>
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table class="table is-fullwidth is-hoverable is-striped">
                        <thead><tr>
                                <th>room <i onclick="sortMeetings(this,'room')"
                                        class="fas fa-caret-down"></i></th>
                                <th>start time <i
                                        onclick="sortMeetings(this,'start_time')"
                                        class="fas fa-caret-down"></i></th>
                                <th>end time <i
                                        onclick="sortMeetings(this,'end_time')"
                                        class="fas fa-caret-down"></i></th>
                                <th>maker <i
                                        onclick="sortMeetings(this,'maker')"
                                        class="fas fa-caret-down"></i></th>
                                <th>memo</th>
                                <th>operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(meeting,i) in meetings">
                                <td>{{meeting.room.name}}</td>
                                <td>{{ mins2hm(meeting.start_time) }}</td>
                                <td>{{ mins2hm(meeting.end_time) }}</td>
                                <td><abbr :title="meeting.maker.username">{{
                                        meeting.maker.name }}</abbr></td>
                                <td>{{ meeting.memo }}</td>
                                <td><a class="button is-small"
                                        v-on:click="extendMeeting(meeting)"><i
                                            class="fas fa-utensils"></i></a>
                                    <a class="button is-small is-danger
                                        is-outlined"
                                        v-on:click="deleteMeeting(meeting)"
                                        v-if="canDel(meeting)"><i class="far
                                            fa-trash-alt"></i></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <div class="select is-primary
                                                is-fullwidth">
                                                <select v-model:value="roomID">
                                                    <option v-for="room in
                                                        rooms"
                                                        v-bind:value="room.id">{{
                                                        room.name
                                                        }}</option>
                                                </select>
                                            </div>
                                            <span class="icon is-left">
                                                <i class="fas fa-handshake"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="text" class="input
                                                is-primary"
                                                id="timeRange" readonly>
                                            <span class="icon is-left">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="text" id="memo"
                                                class="input
                                                is-primary"
                                                v-model:value="memo"
                                                placeholder="what to do">
                                            <span class="icon is-left">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="button is-primary"
                                        v-bind:disabled="canAdd"
                                        v-on:click="postMeeting">add</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section id="footer">
            <my-footer></my-footer>
        </section>
        <script src="/js/index.js"></script>
        <script src="/js/nav.js"></script>
        <script src="/js/footer.js"></script>
    </body>
</html>